*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#f4f6f9;
}

:root{
    --content-padding:16px;
}
.avatar{
    border-radius: 100%;
    max-width:25px;
}